/* Adds padding and margin to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Adds background color */
body {
    background-color: #d9dcd6;
}
/* Sets font size */
p {
    font-size: 16px;
}
/* Sets font color and text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/* When the cursor hovers over this text the font will chnage */
a:hover {
    font-size: 110%;
    color:gainsboro;
}
/* Sets padding, font type, background color and font color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Sets display */
.header h1 {
    display: inline-block;
    font-size: 48px;
} 
/* Sets text color */
.header h1 .seo {
    color: gainsboro;
}
/* Adds top-padding, right-margin, floats element to disired place on page, sets font and font size */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Changes the type of bullet point */
.header nav ul {
    list-style-type: none;
}
/* Sets display and margin */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Sets height, width, margin-bottom and background-image, size and position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Floats element to disired position and adds a margin-left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Floats element to disired position and adds a margin-right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Sets width, display and margin-left */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Adds margin-bottom, padding, height, font type, background color and font color */
.articles {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Adds max height */
.articles img {
    max-height: 200px;
}
/* Adds margin-bottom and sets font size */
.articles h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Adds margin-right, padding, floats elements to disired position, width, height, font type and background color */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Adds margin-bottom and sets font color */
.sec-benefits {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Adds margin-bottom and aligns text */
.sec-benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Adds didplay, margin and the max width */
.sec-benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Adds padding, font type and aligns the text */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Sets the font size */
.footer h2 {
    font-size: 20px;
}
